.vagrant
awx
*.retry
ubuntu-bionic-18.04-cloudimg-console.log
index.html
db_datadir
.env
ansible-digital_ocean.cache

.idea
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl
.vagrant

*.tfvars
*.tfstate
*.tfstate.backup

*.retry
geerlingguy.*