.vagrant
awx
*.retry
ubuntu-bionic-18.04-cloudimg-console.log
index.html
db_datadir
ansible-digital_ocean.cache

.idea
.terraform
.terraform.tfstate.lock.info
.terraform.lock.hcl
.vagrant

*.tfvars
*.tfstate
*.tfstate.backup
terraform/variables.tf

hcloud_token.json

*.retry
geerlingguy.*.
terraform/crash.log
.ansible_recipe
