
# digitalocean_token = ""

# can be "ovh" or "digitalocean"
# domains_provider = ""

formateurs_names = [
  "formateur"
]
formation_subdomain = "session42"
global_lab_domain" = "example.com"

# hcloud_guacamole_server_type = ""
# hcloud_token = ""
# hcloud_vnc_server_type = ""
# hcloud_image_name = ""

# ovh_application_key = ""
# ovh_application_secret = ""
# ovh_consumer_key = ""

# scaleway_api_access_key = ""
# scaleway_api_secret_key = ""
# scaleway_orga_id = ""
# scaleway_project_id = ""

# scaleway_image_id = ""
# scaleway_image_name = ""

stagiaires_names = [
  "user1",
  "user2"
]




