scaleway_api_access_key = ""
scaleway_api_secret_key = ""
scaleway_orga_id = ""

digitalocean_token = ""

hcloud_token = ""
hcloud_ssh_keys = [""]

formateurs_names = ["hadrien"]
stagiaires_names = ["samir","jerome","extra1","extra2"]
formation_subdomain = "lab"
global_lab_domain = "doxx.fr"

ovh_application_key = ""
ovh_application_secret = ""
ovh_consumer_key = ""

ssh_key_content = "ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIN/9EKTzNETijcY6cBXuvTwbYgDxJ8yG+WiX4mKLhzLV hadrien@patate"
