
variable "formateurs_names" {
  default = [
    "hadrien"
  ]
}

variable "scaleway_vnc_servers_size" {
  default = "DEV1-L"
}

variable "scaleway_guac_servers_size" {
  default = "DEV1-L"
}
# 
# variable "stagiaires_password" {
#   default = "devops101"
# }
# 
# variable "formateurs_password" {
#   default = "devops202"
# }

variable "stagiaires_names" {
  default = [
    "demo"
  ]
}

variable "formation_subdomain" {
  default = "formation"
}

variable "hcloud_vnc_server_type" {
  default = "cx31"
}

variable "hcloud_guacamole_server_type" {
  default = "cx11"
}