variable "stagiaires" {
  default = [
    {
    name= "demo", 
    password="devops101"
  },
    {
    name= "stagiaire1", 
    password="stagiaire1_passwd"
  },
    {
    name= "stagiaire2", 
    password="stagiaire2_passwd"
  }
  ]
}

variable "formateurs" {
  default = [
    {
    name= "hadrien",
    password="hadrien_devops202"
  },
    {
    name= "elie",
    password="devops202"
  },
  ]
}