
variable "formateurs_names" {
  default = [
    "alex"
  ]
}

variable "scaleway_vnc_servers_size" {
  default = "DEV1-L"
}

variable "scaleway_guac_servers_size" {
  default = "DEV1-L"
}

variable "stagiaires_names" {
  default = [
    "stagiaire-1",
    "stagiaire-2",
    "stagiaire-3",
    "stagiaire-4",
    "stagiaire-5",
    "stagiaire-6",
    "stagiaire-7",
    "stagiaire-8",
    "stagiaire-9",
    "stagiaire-10",
  ]
}

variable "formation_subdomain" {
  default = "formation"
}

variable "hcloud_vnc_server_type" {
  default = "cx31"
}

variable "hcloud_guacamole_server_type" {
  default = "cx11"
}
