#!/bin/bash

set -eux

cd /tmp


## Install and configure git

sudo apt-get update
sudo apt install -y git
git config --global user.name stagiaire
git config --global user.email stagiaire@email.example


## Install and configure kubectl
sudo snap install kubectl --classic

sudo apt install -y bash-completion
source <(kubectl completion bash)
echo "source <(kubectl completion bash)" >> ${HOME}/.bashrc


## Install minikube
curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube_latest_amd64.deb
sudo dpkg -i minikube_latest_amd64.deb

minikube start --driver=docker

## Install Lens
export LENS_VERSION=5.5.4
curl -LO "https://github.com/MuhammedKalkan/OpenLens/releases/download/v$LENS_VERSION/OpenLens-$LENS_VERSION.deb"
sudo dpkg -i "OpenLens-$LENS_VERSION.deb" 

## install Helm
sudo snap install helm --classic