####################################################################################
# docker-compose file for Apache Guacamole
# created by PCFreak 2017-06-28
#
# Apache Guacamole is a clientless remote desktop gateway. It supports standard
# protocols like VNC, RDP, and SSH. We call it clientless because no plugins or
# client software are required. Thanks to HTML5, once Guacamole is installed on
# a server, all you need to access your desktops is a web browser.
####################################################################################
#
# What does this file do?
#
# Using docker-compose it will:
#
# - create a network 'guacnetwork_compose' with the 'bridge' driver.
# - create a service 'guacd_compose' from 'guacamole/guacd' connected to 'guacnetwork'
# - create a service 'postgres_guacamole_compose' (1) from 'postgres' connected to 'guacnetwork'
# - create a service 'guacamole' (2)  from 'guacamole/guacamole/' conn. to 'guacnetwork'
# - create a service 'nginx-proxy' from 'nginx-proxy' connected to 'guacnetwork'
# - create a service 'letsencrypt' from 'jrcs/letsencrypt-nginx-proxy-companion' connected to 'guacnetwork'
#
# (1)
#  DB-Init script is in './init/initdb.sql' it has been created executing
#  'docker run --rm guacamole/guacamole /opt/guacamole/bin/initdb.sh --postgres > ./init/initdb.sql'
#  once.
#  DATA-DIR       is in './data'
#  If you want to change the DB password change all lines with 'POSTGRES_PASSWORD:' and
#  change it to your needs before first start.
#  To start from scratch delete './data' dir completely
#  './data' will hold all data after first start!
#  The initdb.d scripts are only executed the first time the container is started
#  (and the database files are empty). If the database files already exist then the initdb.d
#  scripts are ignored (e.g. when you mount a local directory or when docker-compose saves
#  the volume and reuses it for the new container).
#
#  !!!!! MAKE SURE your folder './init' is executable (chmod +x ./init)
#  !!!!! or 'initdb.sql' will be ignored!
#
#  './data' will hold all data after first start!
#
# (2)
#  Make sure you use the same value for 'POSTGRES_USER' and 'POSTGRES_PASSWORD'
#  as configured under (1)
#
# !!!!! FOR INITAL SETUP (after git clone) run ./prepare.sh once
#
# !!!!! FOR A FULL RESET (WILL ERASE YOUR DATABASE, YOUR FILES, YOUR RECORDS AND CERTS) DO A
# !!!!!  ./reset.sh
#
#
# The initial login to the guacamole webinterface is:
#
#     Username: guacadmin
#     Password: guacadmin
#
# Make sure you change it immediately!
#
# version            date              comment
# 0.1                2017-06-28        initial release
# 0.2                2017-10-09        minor fixes + internal GIT push
# 0.3                2017-10-09        minor fixes + public GIT push
# 0.4                2019-08-14        creating of ssl certs now in prepare.sh
#                                      simplified nginx startup commands
####################################################################################

version: "3"

# networks
# create a network 'guacnetwork_compose' in mode 'bridged'
networks:
  guacnetwork_compose:
    driver: bridge

# services
services:
  # guacd
  guacd:
    container_name: guacd_compose
    image: guacamole/guacd
    environment:
    - GUACD_LOG_LEVEL=debug 
    networks:
      - guacnetwork_compose
    restart: always
    volumes:
      - ./drive:/drive:rw
      - ./record:/record:rw


  # guacamole
  guacamole:
    container_name: guacamole
    depends_on:
      - guacd
      # - postgres
    environment:
      GUACD_HOSTNAME: guacd
      # If this variable GUACAMOLE_HOME is set the container doesn't complain about missing db and load user-mapping.xml WTF
      GUACAMOLE_HOME: /etc/guacamole
      VIRTUAL_HOST: {{ guacamole_domain }}
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: {{ guacamole_domain }}
      LETSENCRYPT_EMAIL: {{ guac_letsencrypt_email }} 
    image: guacamole/guacamole
    volumes:
      - {{ guac_path }}/user-mapping.xml:/etc/guacamole/user-mapping.xml
    networks:
      - guacnetwork_compose
    # ports:
#      - "127.0.0.1:8080:8080"
    #   - "8080/tcp"
    restart: always
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 60s

  nginx-proxy:
    container_name: nginx-proxy
    restart: always
    # depends_on:
    # - letsencrypt
    image: uptimeformation/nginx-proxy
    ports:
      - "80:80"
      - "443:443"
    networks:
      - guacnetwork_compose
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - nginx_conf:/etc/nginx/conf.d
      - nginx_dhparam:/etc/nginx/dhparam
      - nginx_html:/usr/share/nginx/html

      - /nginx_certs:/etc/nginx/certs:ro
      - /nginx_vhosts:/etc/nginx/vhost.d

    healthcheck:
      test: ["CMD", "curl", "-f", "https://{{ guacamole_domain }}:443"]
      interval: 30s
      timeout: 10s
      retries: 10
      start_period: 10s

  letsencrypt:
    restart: always
    container_name: letsencrypt
    depends_on:
     - nginx-proxy
    image: jrcs/letsencrypt-nginx-proxy-companion
    networks:
      - guacnetwork_compose
    environment:
      DEFAULT_EMAIL: {{ guac_letsencrypt_email }}
      NGINX_PROXY_CONTAINER: nginx-proxy
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - nginx_dhparam:/etc/nginx/dhparam:ro
      - nginx_html:/usr/share/nginx/html

      - /nginx_certs:/etc/nginx/certs
      - /nginx_vhosts:/etc/nginx/vhost.d

volumes:
  nginx_conf:
  nginx_html:
  nginx_dhparam:
