<user-mapping>

{# Every stagiaire has their server connection and readonly connection for all formateurs servers #}
{% for vnc_server_stagiaire in groups['vnc_servers_stagiaires'] %}
    <authorize username="{{ hostvars[vnc_server_stagiaire].username }}" password="{{ guac_stagiaire_passwd }}">
        <connection name="{{ hostvars[vnc_server_stagiaire].inventory_hostname }}">
            <protocol>vnc</protocol>
            <param name="hostname">{{ hostvars[vnc_server_stagiaire].ansible_host }}</param>
            <param name="port">5901</param>
            <param name="password">{{ hostvars[vnc_server_stagiaire].vnc_passwd }}</param>
        </connection>
    {% for vnc_server_formateur in groups['vnc_servers_formateurs'] %}
        <connection name="{{ hostvars[vnc_server_formateur].inventory_hostname }}">
            <protocol>vnc</protocol>
            <param name="hostname">{{ hostvars[vnc_server_formateur].ansible_host }}</param>
            <param name="port">5901</param>
            <param name="password">{{ hostvars[vnc_server_formateur].vnc_passwd }}</param>
            {# <param name="password">{{ hostvars[vnc_server_formateur].vnc_view_passwd }}</param> #}
            <param name="read-only">true</param>
        </connection>
    {% endfor %}
    </authorize>
{% endfor %}


{# Every teacher/formateur has his server connection and all stagiaires servers connections #}
{% for vnc_server_formateur in groups['vnc_servers_formateurs'] %}
    <authorize username="{{ hostvars[vnc_server_formateur].username }}" password="{{ guac_formateur_passwd }}">
        <connection name="{{ hostvars[vnc_server_formateur].inventory_hostname }}">
            <protocol>vnc</protocol>
            <param name="hostname">{{ hostvars[vnc_server_formateur].ansible_host }}</param>
            <param name="port">5901</param>
            <param name="password">{{ hostvars[vnc_server_formateur].vnc_passwd  }}</param>
        </connection>
    {% for vnc_server_stagiaire in groups['vnc_servers_stagiaires'] %}
        <connection name="{{ hostvars[vnc_server_stagiaire].inventory_hostname }}">
            <protocol>vnc</protocol>
            <param name="hostname">{{ hostvars[vnc_server_stagiaire].ansible_host }}</param>
            <param name="port">5901</param>
            <param name="password">{{ hostvars[vnc_server_stagiaire].vnc_passwd }}</param>
        </connection>
    {% endfor %}
    </authorize>
{% endfor %}

</user-mapping>