<user-mapping>

    <authorize username="guacadmin" password="{{ guac_passwd }}">
    {% for vnc_server in groups['vnc_servers'] %}
        <connection name="{{ hostvars[vnc_server].inventory_hostname }}">
            <protocol>vnc</protocol>
            <param name="hostname">{{ hostvars[vnc_server].ansible_host }}</param>
            <param name="port">5901</param>
            <param name="password">{{ hostvars[vnc_server].vnc_passwd }}</param>
        </connection>
    {% endfor %}
    </authorize>

</user-mapping>