[vncservers]
# ubu1 ansible_host=51.15.229.151 ansible_user=root
# ubu2 ansible_host=51.158.103.142 ansible_user=root
# ubud1 ansible_host=167.172.202.252 ansible_user=root
# ubud2 ansible_host=167.172.203.230 ansible_user=root
ubuh2 ansible_host=94.130.72.91 ansible_user=root


[all:vars]
unix_password=devops101
ssh_user=stagiaire
allow_passwd_ssh_connection=yes

ssh_public_key=./ssh_ids/id_project.pub
ssh_private_key=./ssh_ids/id_project
