apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ guacamole_release_name }}-guacamole
  labels:
    app.kubernetes.io/name: guacamole
    helm.sh/chart: guacamole-1.4.0
    app.kubernetes.io/instance: {{ guacamole_release_name }}
    app.kubernetes.io/version: "1.5.0"
    app.kubernetes.io/managed-by: Helm
